[submodule "nse_external/vulscan"]
	path = nse_external/vulscan
	url = https://github.com/scipag/vulscan.git
[submodule "nse_external/vulners"]
	path = nse_external/vulners
	url = https://github.com/vulnersCom/nmap-vulners.git
[submodule "nse_external/s4n7h0"]
	path = nse_external/s4n7h0
	url = https://github.com/s4n7h0/NSE
