# This is where the result of the script output.
log/*
!/log/.gitkeep

# Temporary files.
tmp/*
!/tmp/.gitkeep

# Not tracking module config files.
data/modules/*.cfg

# Nmap output scans.
data/output/*
!/data/output/.gitkeep

# Temporary files.
tmp/.static*
